<!-- Parent to child - Data Flow using @Input -->
<!-- <p [ngClass]="{ greet: user }">Welcome {{ user }}!</p> -->

<table [ngClass]="{ padding: user }">
  <tr [ngStyle]="{ 'background-color': 'black', color: 'white' }">
    <th>Title</th>
    <th>Content</th>
    <th>Author</th>
  </tr>
  @for(post of postLists; track post; let odd = $odd;){
  <tr [ngClass]="odd ? 'oddRow' : 'evenRow'">
    <td>{{ post.title }}</td>
    <td>{{ post.content }}</td>
    <td>{{ post.author }}</td>
  </tr>
  }
</table>

<!-- <button (click)="sendMessage()">Send User Message to Parent</button> -->
<div class="content">
  <div class="header">
    <ng-content select="[header]"></ng-content>
  </div>
  <div class="body">
    <ng-content select="[body]"></ng-content>
  </div>
  <div class="footer">
    <ng-content select="[footer]"></ng-content>
  </div>
</div>
