.greet {
  color: green;
}
.oddRow {
  background-color: aquamarine;
}
.evenRow {
  background-color: bisque;
}
.table th,
td {
  padding: 10px;
  margin: 0;
  border-collapse: collapse;
  border-spacing: 0;
}
