* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  user-select: none;
}
main {
  border: 2px solid purple;
  background-color: rgb(251, 247, 251);
  border-radius: 4px;
  margin: 20px;
}
.container {
  padding: 20px;
}
.form {
  display: inline-block;
}
.column {
  display: inline-flex;
}
input,
select {
  margin: 5px 5px 5px 5px;
}
.column input,
.input-box input,
.column select {
  width: 190px;
  height: 30px;
  color: purple;
}
input:focus {
  border: 1px solid purple;
}
h3,
p {
  margin-left: 5px;
  margin-bottom: 5px;
  color: purple;
}
input,
select,
button {
  font-weight: 500;
  font-size: 14px;
  outline: none;
  padding: 3px 5px;
  border-radius: 4px;
  border: 1px solid #ccc;
}
input::placeholder {
  color: #aaa;
}
.input-box {
  display: flex;
  flex-direction: column;
  margin-left: 0px;
}
small {
  color: red;
  font-weight: 400;
}
.address small {
  margin-left: 10px;
}
.select-box {
  display: block;
  margin-right: 12px;
}
.btns {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.btn-gen-username,
.submit-btn {
  margin: 10px 5px;
  font-size: 15px;
  width: 190px;
  height: 40px;
}
input.ng-valid.ng-touched {
  border: 1px solid green;
  color: green;
}
input.ng-invalid.ng-touched {
  border: 1px solid red;
}
input[type="submit"],
button {
  background-color: purple;
  color: white;
  border: 1px solid purple;
  border-radius: 3px;
}
input[type="submit"]:disabled,
button:disabled {
  background-color: #ccc;
  color: #eee;
  border: 1px solid #efefef;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
