<main
  [style.backgroundColor]="isLoggedIn ? 'white' : 'lightblue'"
  *ngIf="!isLoggedIn"
>
  <div class="form">
    <h1>Login Form</h1>
    <p>
      UserName : <input placeholder="John" type="text" [(ngModel)]="userName" />
    </p>

    <p>
      Profession :
      <input
        placeholder="Software Engineer"
        [(ngModel)]="profession"
        type="text"
      />
    </p>

    <p>
      Password :
      <input placeholder="9J@0B$74v" [(ngModel)]="password" type="password" />
    </p>
    <br />
    <button (click)="Login()">Login</button>
    <br /><br />
  </div>

  <p
    [ngClass]="{ 'success-text': isLoggedIn, 'error-text': !isLoggedIn }"
    *ngIf="userName.length < 2 || password.length < 2"
  >
    {{ message }}
  </p>
  <div *ngIf="isLoggedIn" [style.color]="'isLoggedIn' ? 'green' : 'black'">
    <p *ngIf="isLoggedIn">Practicing Angular using {{ title }}</p>
    <p>Details Entered :</p>
    <p>UserName : {{ userName }}</p>
    <p *ngIf="profession.length > 0">Profession : {{ profession }}</p>
    <p>Password : {{ password }}</p>

    <p [ngClass]="{ 'success-text': isLoggedIn, 'error-text': !isLoggedIn }">
      {{ message }}
    </p>
  </div>
</main>
<!-- <h3>
  Click on Button to see Message sent by Child using EventEmitter and Output is
  :
</h3>
<p>{{ childMessage }}</p>
<hr />
<h3>Message sent by Child using ViewChild is :</h3>
<p>{{ secretMsgToParent }}</p>
<hr /> -->
<app-header-component *ngIf="isLoggedIn" [isStudent]="stillStudent">
  <h1>From App to Header Component</h1>
  <p>Topic 1</p>
  <p>Topic Description 1</p>
</app-header-component>

<hr />
<app-posts-list
  *ngIf="isLoggedIn"
  [user]="userName"
  [postLists]="currentpostList"
  (UserMessage)="childMessageToParent($event)"
>
  <h1>From App to PostList Component</h1>
  <p>Post 1</p>
  <p>Post Description 1</p>
</app-posts-list>
